/* @import url(http://fonts.googleapis.com/css?family=Rokkitt); */
body { background:#eee; font:normal 0.625em/1.5em 'Trebuchet MS', Helvetica, 'Helvetica Neue', Arial; }
strong { font-weight:bold; }
em { font-style:italic; }
h1 { font:bold 1.8em/1em 'Trebuchet MS', Helvetica, 'Helvetica Neue', Arial; text-transform:capitalize; margin-bottom:10px; }
h2 { font:bold 1.6em/1.6em 'Trebuchet MS', Helvetica, 'Helvetica Neue', Arial; text-transform:capitalize; margin-bottom:10px; }
h3 { font:normal 1.4em/1.5em 'Trebuchet MS', Helvetica, 'Helvetica Neue', Arial; text-transform:uppercase; letter-spacing:1px; margin-bottom:6px; }

#container { background:#fff; margin:20px auto; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0 1px 3px rgba(0,0,0,0.1); -moz-box-shadow:0 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1); }
    #container.small { width:375px; }
    #container.medium { width:600px; }
    #container.large { width:900px; }

#header { padding:12px 20px; border-bottom:2px solid #eee; }
    #logo { font:normal 2.2em/1em Rokkitt, inherit; letter-spacing:1px; }
    #nav { float:right; color:#bcbcbc; }
        #nav li { display:inline; }
        #nav a { padding:14px; margin-top:-10px; margin-right:-12px; display:inline-block; font-size:1.3em; text-decoration:none; font-weight:bold; text-transform:uppercase; color:#aaa; }
        #nav a:hover { color:#6a8e80; }

#content {}
    #content p { font-size:1.3em; line-height:1.667em; margin-bottom:16px; color:#333; }
    .inner { padding:12px 20px; }
    .division { border-bottom:2px dashed #eee; }
    .division:last-child { border-bottom:none; }
    .success { font-size:1.2em; color:rgba(0,0,0,0.6); padding:12px 20px; background:rgba(145, 200, 74, 0.2); display:none; }

.menu {}
    .menu:last-child { border-bottom:none; }
    .menu .expiration { display:none; }
    .menu.expired form { opacity:0.6; }
    .menu.expired .expiration { display:inline; }
    .ordered { background:#eee; padding:8px 12px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
    .ordered .buttons button div { background-color:#eee; }
    .ordered .buttons button span { background-color:#eee; }

.menu_link { overflow:auto; font-size:1.3em; display:block; text-decoration:none; margin-bottom:12px; }
.menu_link:last-child { margin-bottom:0; }
    .menu_link > div { display:inline-block; }
    .menu_link .title { color:#333; font-size:1.571em; margin-top:6px; text-transform:capitalize; }
    .menu_link .meta { float:right; }
        .menu_link .meta .block { padding:0 12px; display:inline-block; text-align:center; }
        .menu_link .meta .block span { font-weight:bold; font-size:1.571em; line-height:1.4em; display:block; }
        .menu_link .meta .block.placed { color:#888; }
        .menu_link .meta .block.confirmed { color:#6a8e80; }
        .menu_link .meta .block.unfulfilled { color:#9A4444; }

form { display:block; }
    form p { display:block; margin-bottom:10px !important; }
    label { display:block; margin-bottom:2px; color:#666; }
    label span.help_text { float:right; color:#888; }
    label span.errors { float:right; color:#DF1B1B; }
    label span.value { display:block; margin-left:2em; }
    input, textarea { border:1px solid #b3b3b3; padding:8px; font:normal 1.077em "Helvetica Neue", Helvetica, Arial, sans-serif; }
    input { width:319px; }
    textarea { width:400px; height:5em; }
    select { width:319px; }

    .radio label { cursor:pointer; font-size:1.2em; line-height:1.667em; color:#333; margin-bottom:8px; }
    .radio input { width:auto; float:left; margin-top:5px; margin-right:8px; }


/*
 * Admin menu and order stles
 */

#full_page { position:absolute; background:#fff; top:0; bottom:0; left:0; right:0; }

#controls { padding:12px 20px; overflow:auto; }
    #controls h1 { margin-top:8px; margin-bottom:0; }
    #controls .hidden { display:none; }
    #controls .right { float:right; }

.order { display:block; padding:0 12px; margin-top:-1px; border:1px solid #dedede; border-left:0; border-right:0; }
    .order.selected { background:#f3f7c3; }
    .order.placed .status {}
    .order.confirmed .status {}
    .order.fulfilled .status {}
    .order.labels > div { font-weight:bold; }
    .order > div { cursor:pointer; font-size:1.3em; display:inline-block; padding:12px 8px; border-right:1px dotted #dedede; }
    .order > div:last-child { border-right:0; }
    .order .name { width:12%; }
    .order .state { width:5%; }
    .order .timeslot { width:6%; }
    .order .meal { width:12%; }
    .order .instructions { width:18%; }
    .order .allergies { width:18%; }
    .order .diet { width:18%; }
    .order .pk { display:none; }


/*
 * Button styles ripped from http://www.m.grooveshark.com
 */

.buttons .middle {text-align: center; margin: 0 auto;}
.buttons.left {text-align: left; margin: 0 auto;}
.buttons.alignLeft {text-align: left;}
.buttons button {cursor: pointer; margin-left:-2px; border: none; background: none; overflow: visible; padding: 0;}
.buttons button div {display: block; float: left; height: 32px; padding: 0 16px 0 0; background: url(../images/form_button.png) top right no-repeat; font-size: 14px; white-space:nowrap;}
.buttons button span {background: url(../images/form_button.png) top left no-repeat #fff; font-size: 13px; display: block; padding: 0 0 0 17px; height: 32px; line-height: 29px; float: left; white-space:nowrap; clear:none; color: #FFF; text-shadow: 0px -1px 0px rgba(0,0,0,0.5);}
.buttons button:hover div {background-position: right -32px;}
.buttons button:hover span {background-position: 0 -32px; color: #FFF;}
.buttons button:active, .buttons button:focus {outline: none;}
.buttons button:active div {background-position: right -64px;}
.buttons button:active span {background-position: 0 -64px; color: #FFF;}

.buttons button.inactive div {cursor: default;}
.buttons button.inactive:hover div {background-position:top right;}
.buttons button.inactive:hover span {background-position:top left;}
.buttons button.inactive:active div {background-position:top right;}
.buttons button.inactive:active span {background-position:top left;}

.buttons button.green div {background-position: right -96px;}
.buttons button.green span {background-position: left -96px; text-shadow: 0px -1px 0px #56831c;}
.buttons button.green:hover div {background-position: right -128px;}
.buttons button.green:hover span {background-position: left -128px;}
.buttons button.green:active div {background-position: right -160px;}
.buttons button.green:active span {background-position: left -160px;}

.buttons button.red div {background-position: right -192px;}
.buttons button.red span {background-position: left -192px; text-shadow: 0px -1px 0px #9c1717;}
.buttons button.red:hover div {background-position: right -224px;}
.buttons button.red:hover span {background-position: left -224px;}
.buttons button.red:active div {background-position: right -256px;}
.buttons button.red:active span {background-position: left -256px;}


