{% extends "client.html" %}    
{% block title %}- Editing Profile{% endblock %}
{% block size %}medium{% endblock %}

{% block content %}

    <div class="inner">
        <h2>Editing Profile</h2>
        <form method="post" class="profile" action="{% url employee.views.save_profile %}">
            {% csrf_token %}   
            <p>
                <label for="id_full_name">Full Name <span class="errors">{% for error in employee_form.full_name.errors %} {{ error }} {% endfor %}</span></label>
                {{ employee_form.full_name }}
            </p>
            <p>
                <label for="id_allergies">List of Allergies <span class="errors">{% for error in employee_form.allergies.errors %} {{ error }} {% endfor %}</span></label>
                {{ employee_form.allergies }}
            </p>
            <p>
                <label for="id_card_number">Card Number <span class="errors">{% for error in employee_form.card_number.errors %} {{ error }} {% endfor %}</span></label>
                {{ employee_form.card_number }}
            </p>
            <p>
                <label for="id_diet">Dietary Restrictions <span class="errors">{% for error in employee_form.diet.errors %} {{ error }} {% endfor %}</span></label>
                {{ employee_form.diet }}
            </p>
            <div class="buttons">
                <button type="submit" class="green thinandtall">
                    <div><span>Save Changes</span></div>
                </button>
            </div>
        </form>
    </div>
    
{% endblock %}
