{% extends "base.html" %}    

{% block main %}

<form method="post" class="formwrap" action="{% url employee.views.authenticate %}">
    {% csrf_token %}   
    <p>
        <label for="id_username">Username <span class="errors">{% for error in login_form.username.errors %} {{ error }} {% endfor %}</span></label>
        {{ login_form.username }}
    </p>
    <p>
        <label for="id_password">Password <span class="errors">{% for error in login_form.password.errors %} {{ error }} {% endfor %}</span></label>
        {{ login_form.password }}
    </p>
    <p><input type="submit" class="btn" value="Login" /></p>
</form>

{% endblock %}
