<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>SharkBite {% block title %}- Grooveshark Food Ordering{% endblock %}</title>
        <link rel="stylesheet" href="/static/stylesheets/reset.css" type="text/css"/>
        <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css"/>
    </head>

    <body>                 
        <div id="container" class="{% block size %}{% endblock %}">

            <div id="header">

                <div id="nav" class="right">
                    {% block navigation %}
                    <ul>
                        <li><a href="{% url menu.views.order %}">Order</a></li>
                        <li><a href="{% url employee.views.editProfile %}">Profile</a></li>
                        <li><a href="{% url employee.views.logout %}">Logout</a></li>
                    </ul>
                    {% endblock %}
                </div>

                <h1 id="logo">SharkBite</h1>

            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

        </div>
    </body>

    <script type="text/javascript" src="/static/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/static/javascripts/main.js"></script>
</html>
