{% extends "base.html" %}    

{% block title %}- Menu List{% endblock %}
{% block size %}medium{% endblock %}

{% block navigation %}
    <ul>
        <li><a href="/admin/">Admin Panel</a></li>
    </ul>
{% endblock %}

{% block content %}

    <!-- replace with { menu.get_absolute_url } -->
    <a href="/menu/order-list/3" class="menu_link division inner">
        <h2>
            Breakfast orders 
            <div class="meta"><div class="count">23 Orders</div> <div class="time">General</div></div>
        </h2>
    </a>

    <a href="LINK_TO_ORDERS_LIST/MENU_ID" class="menu_link division inner">
        <h2>
            Lunch orders 
            <div class="meta"><div class="count">13 Orders</div> <div class="time">6:45 PM</div></div>
        </h2>
    </a>

    <a href="LINK_TO_ORDERS_LIST/MENU_ID" class="menu_link division inner">
        <h2>
            Lunch orders 
            <div class="meta"><div class="count">18 Orders</div> <div class="time">5:45 PM</div></div>
        </h2>
    </a>

    <a href="LINK_TO_ORDERS_LIST/MENU_ID" class="menu_link division inner">
        <h2>
            Lunch orders 
            <div class="meta"><div class="count">9 Orders</div> <div class="time">7:45 PM</div></div>
        </h2>
    </a>

{% endblock %}
