{% extends "admin.html" %}    
{% block title %}- Menu List{% endblock %}
{% block size %}medium{% endblock %}

{% block navigation %}

    <ul>
        <li><a href="{% url admin:index %}">Admin Panel</a></li>
    </ul>

{% endblock %}

{% block content %}

    {% for day in days %}

        <div class="division inner">
            <h2>{{ day.datename }}</h2>

            {% for menu_info in day.menus %}
            <a href="{% url order_list menu_info.menu.pk %}" class="menu_link">
                    <div class="meta">
                        <div class="block placed"><span>{{ menu_info.placed_count }}</span> placed</div>
                        <div class="block confirmed"><span>{{ menu_info.confirmed_count }}</span> confirmed</div>
                        <div class="block unfulfilled"><span>{{ menu_info.unfulfilled_count }}</span> unfulfilled</div>
                    </div>
                    <div class="title">
                        {{ menu_info.menu }} orders
                    </div>
                </a>
            {% empty %}
                nothing
            {% endfor %}
        </div>

    {% endfor %}

{% endblock %}

