{% extends "base.html" %}    

{% block title %}- Place an Order{% endblock %}
{% block size %}medium{% endblock %}

{% block content %}

{% for menuItem in menuItems %}
    
    {% if menuItem.regMeal or menuItem.meals %}
    
    <div class="menu inner">

        <h2> {{ menuItem.formalName }} </h2>

        {% if menuItem.orderStatus == "r" %}
        <div class="ordered">
            <h3>You ordered:</h3>
            <p><em><strong>{{ menuItem.regMeal.meal.name }}</strong> - {{ menuItem.regMeal.meal.description }}</em></p>
            <p><strong>Make sure you come back at {{ menuItem.regMeal.time }} to confirm your order</strong>, or your meal won't be prepared. In the meantime, you can still cancel and reorder.</p>
            <div class="buttons">
                <button class="inactive thinandtall" onclick="location.href='{% url menu.views.order %}confirm/{{ menuItem.regMeal.meal.meal_type }}'">
                    <div><span>Confirm Order {{ menuItem.regMeal.time }}</span></div>
                </button>
                <button class="red thinandtall" onclick="location.href='{% url menu.views.order %}cancel/{{ menuItem.regMeal.meal.meal_type }}'">
                    <div><span>Cancel Order</span></div>
                </button>
            </div>
        </div>

        {% else %}
            
            {% if menuItem.orderStatus == "c" %}
                <div class="ordered">
                    <h3>You Confirmed:</h3>
                    <p><em><strong>{{ menuItem.regMeal.meal.name }}</strong> - {{ menuItem.regMeal.meal.description }}</em></p>
                    <p><strong>Make sure you come at {{ menuItem.regMeal.time }} to eat!</strong></p>
                    <div class="buttons">
                        <button class="inactive thinandtall" >
                            <div><span>Confirmed! yum!!</span></div>
                        </button>
                    </div>
                </div>
                

            {% else %}
                <div class="order">

                    <form method="post" class="order" action="{% url menu.views.order %}">
                        {% csrf_token %}   
                        <p>
                            <label for="meals">Meal Choices <span class="errors">{% for error in order_form.meals.errors %} {{ error }} {% endfor %}</span></label>
                            {% for meal in menuItem.meals %}

                            <label class="radio" > 
                                <input type="radio"  name="dinner" value="{{ meal.id }}" />
                                <span class="value">{{ meal.name }} - {{ meal.description }} </span>
                            </label>    


                            {% endfor %}

                            <label for="id_timeslot">Timeslot <span class="errors"></span></label>
                            <select name="id_timeslot">
                                    {% for time in menuItem.timeSlots %}
                                        <option value="{{ time.id }}"> {{ time.time }}  ({{ time.freespots }} spots left)</option> 
                                    {% endfor %}
                                </select>
                            </label>
                        </p>
                        <p>
                            <label for="instructions">Special Instructions <span class="errors">{% for error in order_form.instructions.errors %} {{ error }} {% endfor %}</span></label>
                            <textarea name="specialIns"></textarea>
                        </p>
                        <div class="buttons">
                            <button type="submit" name="" value="" class="green thinandtall">
                                <div><span>Place Order</span></div>
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endif %}

    </div>
    {% endif %}
{% endfor %}

{% endblock %}
