{% extends "admin.html" %}    
{% block title %}- {{ menu|capfirst }} Orders{% endblock %}

{% block content %}

    <input type="hidden" class="get_orders_url" value="{% url get_orders menu.pk %}" />
    <input type="hidden" class="fulfill_orders_url" value="{% url fulfill_orders menu.pk %}" />

    <div id="controls">
        <div class="right">
            <div class="notice">
            </div>
            <div class="buttons">
                <button class="green thinandtall hidden">
                    <div><span></span></div>
                </button>
                <button class="grey thinandtall">
                    <div><span>Select orders to fulfill</span></div>
                </button>
            </div>
        </div>

        <h1>{{ menu.publish_date }} > {{ menu }} Orders</h1>

        <div class="nav">
            <a href="{% url menu_list %}">Menu List</a>
            <a href="{% url admin:index %}">Admin Panel</a>
        </div>
    </div>

    <div class="order labels">
        <div class="pk"></div>
        <div class="name">Name</div> 
        <div class="state">State</div> 
        <div class="timeslot">Timeslot</div> 
        <div class="meal">Meal Name</div> 
        <div class="instructions">Instructions</div> 
        <div class="allergies">Allergies</div> 
        <div class="diet">Diet Preferences</div> 
    </div>

    <div class="order_list">
        <!-- filled in with ajax responses from 'menu.views.get_orders' -->
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/javascripts/csrf.js"></script>
    <script type="text/javascript" src="/static/javascripts/admin.js"></script>
{% endblock %}
