{% extends "base.html" %}    
{% block title %}- Place an Order{% endblock %}
{% block size %}medium{% endblock %}

{% block content %}
    {% for typeName, menu, order in menus %}
        <div class="menu inner {% if menu.isExpired %}expired{% endif %}">
            <h2>{{ typeName }} <span class="expiration">is Over!</span></h2>

            {% if not menu %}
                <p>A {{ typeName }} menu has yet to be posted.</p>
            {% else %}
                {% if not menu.isPublishable %}
                    <p>A {{ typeName }} menu will be published at <strong>{{ menu.publishTime }}</strong> today.
                {% else %}
                    {% if order %}
                        <div class="ordered">
                            <h3>You ordered:</h3>
                            <p><em>{{ order.meal }}</em></p>
                            <p><strong>Make sure you come back at {{ order.confirmableAt }} to confirm your order</strong>, or your meal won't be prepared. In the meantime, you can still cancel and reorder.</p>
                            <div class="buttons">
                                {% if order.isConfirmed %}
                                    <button class="inactive thinandtall">
                                        <div><span>Order Confirmed!</span></div>
                                    </button>
                                {% else %}
                                    {% if order.isConfirmable %}
                                        <button class="green thinandtall" onclick="location.href='{{ order.getConfirmURL }}'">
                                            <div><span>Confirm Order</span></div>
                                        </button>
                                    {% else %}
                                        <button class="inactive thinandtall">
                                            <div><span>Confirm Order ({{ order.confirmableAt }})</span></div>
                                        </button>
                                    {% endif %}
                                    <button class="red thinandtall" onclick="location.href='{{ order.getCancelURL }}'">
                                        <div><span>Cancel Order</span></div>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <form method="post" class="order" action="{{ menu.getPlaceURL }}">
                            {% csrf_token %}

                            {% if menu.description %} 
                                <p>{{ menu.description }}</p> 
                            {% endif %}

                            <p>
                                <label for="meals">Meal Choices <span class="errors"></span></label>

                                {% for meal in menu.meals.all %}
                                    <label class="radio" for="{{ meal.name }}"> 
                                        <input type="radio" id="{{ meal.name }}" name="mealID" value="{{ meal.id }}" />
                                        <span class="value">{{ meal }}</span>
                                    </label>    
                                {% endfor %}
                            </p>

                            {% if menu.timeslots %}
                                <p>
                                    <label for="timeslot">Timeslot <span class="errors"></span></label>
                                    <select name="timeslotID">
                                        {% for timeslot in menu.timeslots.all %}
                                            <option value="{{ timeslot.id }}">{{ timeslot }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            {% endif %}

                            <p>
                                <label for="instructions">Special Instructions <span class="errors"></span></label>
                                <textarea name="instructions"></textarea>
                            </p>

                            <div class="buttons">
                                <button type="submit" class="green thinandtall">
                                    <div><span>Place Order</span></div>
                                </button>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
